/*basic*/
    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .Cross{
      color:red;
      float: right;
      margin:5px;
      line-height: 1rem;
      cursor: pointer;

      position: relative;
      left:17%;
      
      }
      input[type=checkbox]{
    width: 15px;
    height: 15px;
        cursor: pointer;
        }

    #root{
      margin: 0;
      overflow: hidden;
    }
/*header*/
    .AppHeader{
      background: #4a90e2;
      height: 50px;
      width: 100%;
    }

/*Menu*/
    .AppMenu{
      top:100px;
      padding:1% 10% 1% 10%;
      background-color: #ecba1d;
      border-radius: 0px 0px 55px 55px;
      visibility: hidden;

    }
    .AppMenu>*{
      display: inline-block;
    }
/*MainChart*/
    .MainChart{
      height: 400px;
      width: 70%;
      min-width: 500px;
      margin: 1% 10% 0% 10%;
      overflow-x: scroll;
      overflow-y: hidden;
      box-shadow: 0em 0em 0.5em 0em #ccc;
      border-radius: 5px;
      padding: 5%;
    }
    /*Basic Chart settings*/

 
   .MainChart >*>*, .PersonalChart>*>*{
      display: inline-block;
      height: 85%;
      animation: windowLoad 1s;
    }
    .MainChart >*>*>*{
      height: 17%;
    }

    /*legenda */
      /*x */
      .MainChart>*>*>*:nth-child(3) {
        margin: 0px 5px 0px 5px;
        word-break: break-all;
        width: 60px;
        height:  100px;
        overflow: hidden;
        
      }
      /*Y */
      .ChartY {
            width: 20px;
            height: 386px;
            animation:none;

      }


  

     /*Chart*/
        .difficultyChart, .likeabilityChart{
        display: inline-block;
        width: 20px;
        margin: 0px 1px 0px 1px;
        font-size: 10px;
      }
     


        .difficultyChart{background-color: #4a90e2;}
        .likeabilityChart{background-color: #9a4;}

        .difficultyChart:hover, .likeabilityChart:hover{
          filter: brightness(120%);
        }

        .MainChartframe{
          height: 100%;
          width: 4000px;
          }
    
/*PersonalChart*/

 .PersonalChart{
 height: 200px;
 width: 90%;
 overflow-x: scroll;
 overflow-y: hidden;
 box-shadow: 0em 0em 0.5em 0em #ccc;
 border-radius: 5px;
 padding: 5%;
        }

 .PersonalChart>*>*>*{
  height: 10%;
  }

    .PersonalChartContiner{
    position: absolute;
    display: none;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: #00000050;
    }
    .Personal{
      height: 69%;
      width: 59%;
      margin: 10% 10% 0% 10%;
      padding: 0.5% 10% 0.5% 10%;
      background-color: #fff;
      box-shadow: 0em 0em 0.5em 0em #ccc;
      border-radius: 5px;
      }
      .PersonalChartframe{
        width: 100%;
        height: 50% ;
  
      }
/*scrollbar*/
    ::-webkit-scrollbar {
      width: 0.5%;
    }
    ::-webkit-scrollbar-track {
      background: #efefef00;
    }
    ::-webkit-scrollbar-thumb {
      background: #4a90e2; 
      min-width: 5px;
      min-height: 5px;
      border-radius: 10px;
    }
    ::-webkit-scrollbar-thumb:hover {
      background: #ecba1d; 
    }
/*fonts*/
p{
    margin: 0;
}


/*animations*/
    @keyframes windowLoad {
      from {height: 0%;}
      to {height: 85%;}
    }